@import "reset.css";

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 웹 폰트 및 불러오기 */


/* margin-left: 220px; */
/* margin-right: 220px; */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

div {
    list-style: none;
}


/* 우측메뉴 */
.right-menu {
    margin-right: 220px;
    color: #9a9a9a;
    text-align: right;
    height: 46px;
    font-size: 12px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-weight: normal;
    font-style: normal;
    margin-top: 18px;
}

.right-menu li {
    display: inline;
    margin-left: 5px;
}

.userData {
    margin-left: 6px;
}

.right-menu a {
    transition: color 0.15s ease;
}

.right-menu a:hover {
    color: #454545;
}



/* 메인헤더 */
.mainHeader {
    margin-left: 220px;
    margin-right: 220px;
    display: flex;
    justify-content: space-between; /* 로고와 오른쪽 요소들을 양쪽 끝에 배치 */
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 130px;
    height: 50px;
}

.left-mainHeader {
    display: flex;
    gap: 20px;
}

.right-mainHeader {
    display: flex;
    gap: 20px; /* 마이페이지와 쇼핑카트 사이의 간격 */
}

.right-mainHeader a {
    display: flex;
    flex-direction: column; /* 이미지와 텍스트를 수직 정렬 */
    align-items: center;
    text-align: center; /* 텍스트를 중앙 정렬 */
}

.right-mainHeader span {
    font-size: 10px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-weight: normal;
    font-style: normal;
    transition: color 0.15s ease;
}

.right-mainHeader a:hover {
    animation: bounce .35s ease infinite alternate;
}

@keyframes bounce {
    0% {
      transform: translateY(0); 
    }
    100% {
      transform: translateY(-10px); 
    }
}

.myPage img, .shoppingCart img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px; 
}

/* 검색창 */
.search-box {
    position: relative;
    width: 300px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border: 0.5px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(10px);
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-weight: normal;
    width: 100%;
    padding: 0 5px; 
    margin-right: 10px; 
}

.search-btn {
    width: 25px; 
    height: 25px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.search-btn img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transform: scale(70%);
}


/* 카테고리 */
.category-container {
    margin-top: 10px;
    border-top: 0.1px solid #e8e8e8;  
    border-bottom: 0.1px solid #e8e8e8; 
    padding: 10px;     
    height: 60px;     
    flex-wrap: nowrap;
}

.category-container img {
    width: 26px;
    height: 26px;
    margin-left: 220px;
    transform: translateY(6.7px);
}

.category span {
    font-size: 14px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-weight: bold;
    font-style: normal;
    margin-right: 20px;
}

.category li {
    display: inline-block;
    margin-right: 22px;
    font-size: 14px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-weight: normal;
    font-style: normal;

}
