
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h2 {
    color: #333;
}
select{
    width: 15%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 3px 0 10px 0;
    text-align:left;
}
.category{
    font-weight: bold;
    margin-bottom: 7px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.image-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.image-list li {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-list li input[type="file"] {
    flex-grow: 1;
    margin-right: 10px;
}

.rep-img-label {
    font-weight: bold;
    color: green;
    font-size: 12px;
    background-color: #e0f7e0;
    padding: 3px 5px;
    border-radius: 3px;
    margin-right: 10px;
}

.add-image-btn,
.remove-image-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}

.add-image-btn:hover{
    background-color: #47C83E;
}


.remove-image-btn {
    background-color: red;
}

.remove-image-btn:disabled {
    background-color: red; /* 여전히 빨간색을 유지 */
    cursor: not-allowed;  /* 사용 금지 상태 커서 */
    opacity: 0.6;         /* 비활성화 상태 표시 */
}

button[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px
}

button[type="submit"]:hover {
    background-color: #007bb5;
}

.error-message {
    color: red;
    font-size: 14px;
}
