@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  background-color:  #F3F5F7;
}

section{
    width: 1080px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    font-family: 'SpoqaHanSansNeo-Regular';
  }
  
  .list{
    width: 182px;
    margin: 64px 0 0 20px;
  }
  
  .myeat{
    height: 44px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    align-items: center;
  }
  
  .oneline {
    display: flex;
    justify-content: space-between;
    transform: translateY(12px);
  }
  
  .list img {
    height: 60px;
    width: 60px;
    transform: translateY(-10px);
  }
  
  .name{
    padding-left: 5px;
    height: 52px;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(transparent 10%, #fbc237 20%);
    background-repeat: no-repeat;
    background-size: 36% 0.5em;
    background-position: 13% 69%;
  }
  
  .detail-list{
    padding: 14px 16px 15px 0px;
    font-size: 14px;
    color: rgb(126, 128, 130);
    font-weight: 700;
    margin-top: 10px;
  }
  
  .detail-select{
    padding: 14px 16px 15px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  
  .order{
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
  }
  
  .detail-noselect{
    padding: 14px 16px 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px -1px inset;
    cursor: pointer;
  }
  
  .detail div:hover {
    background-color: #F3F5F7;
  }
  
  .info{
    width: 824px;
    margin: 64px 10px 0 0;
  }
  
  .content-name{
    color: rgb(24, 26, 28);
    height: 44px;
    letter-spacing: -0.4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    align-items: center;
  }
  
  hr{
    border-color: rgb(231, 231, 231, 0.3);
    background: rgb(231, 231, 231, 0.3);
    height: 1px;
  }
  .content{
    height: 430px;
    background-color: white;
    margin: 20px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content span {
    display: inline-block;
    font-size: 80px;
    font-weight: bold;
    animation: bounce .45s ease infinite alternate;
  }
  
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }
  .form-title{
    color: gray;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 5px
  }
  .form-content{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px
  }
  button:hover {
    background-color: #c12c2a;
  }
  
  .revise {
    width: 100%;
    padding: 10px;
    background-color: #e9302d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: color 0.3s ease;
  }